.button-department {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 10px 5px 50px;
  margin: 5px 0;
    cursor: pointer;
}
.button-department img{
  margin-left: 15px;
}

.department-list {
  padding: 0;
}

.delete-departament {
  color: #05060d;

}
.proceed-btn {
  padding: 15px 15px;
  background-color: #b04a33;
  margin-left: 15px;
}

.buttons-container {
  display: flex;
  justify-content: center;
}


.proceed-btn img {
  margin: 0;
}


aside {
   background-color: #05060d;
   color: white;

}


/************ Employee *************/
.employee-list {
  border: 1px solid #000000;
}
